@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'BebasNeue-Regular';
    src: local('BebasNeue-Regular'), url('/src/assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: regular;
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
  }

  .stroke-text {
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
  }
}
